<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="../css/kajalism-blog.css">

         <meta name="description" content="bootcatch kajalism blog clean stylish, single page theme based on latest bootstrap - perfect for your fashion blog.">
        <title>25tech</title>
    </head>
    <body>
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light-blue-gradient  ">
          <a class="navbar-brand" href="#">25Tech</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gaming</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">AI</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Repair</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Phone Specification</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <!-- main content  -->
        <div class="intro">
            <div class="container">
                <h1>25Tech</h1>
                <p>Tech is Now !</p>
            </div>
        </div>
        <div class="container">
            <!-- blog intro -->
            <div id="carouselExampleControls4" class="carousel slide shadow-none" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row mt-3 mb-3 blog-intro">
                        <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img class="img-fluid" src="../img/silver.jpg" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                         <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img class="img-fluid"  src="../img/Hello.jpg" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                         <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img class="img-fluid" src="../img/ps.jpg" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                   <div class="row mt-3 mb-3 blog-intro">
                        <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img class="img-fluid"  src="../img/samsung.jpg" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                         <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img class="img-fluid" src="../img/drone.jpg" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                         <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img src="../img/dr.jpg" class="img-fluid" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row mt-3 mb-3 blog-intro">
                        <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img class="img-fluid" src="../img/internet.jpg" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                         <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img src="../img/books.jpg" class="img-fluid" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                         <div class="col-md-4">
                            <a href="#">
                                <div class="card rounded-0  ">
                                    <img class="img-fluid" src="../img/two.jpg" alt="bootcatch kajalism blog">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- blog feed -->
            <div class="row blog-feed">
                <div class="col-md-8">
                    <div class="card   rounded-0 mb-3">
                        <div class="card-header">
                            <h3>Indoor Fifa 20 competition</h3>
                            <p ><small class="text-muted">on May 16, 2019</small></p>
                        </div>
                        <img class="card-img-top rounded-0  " src="../img/fif.JPG" alt="bootcatch kajalism blog">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. </p>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>   
                            
                            <a href="single.html" class= "btn btn-warning">Read More</a>
                            
                        </div>
                    </div>
                    <div class="card   rounded-0 mb-3">
                        <div class="card-header">
                            <h3>Digital World</h3>
                            <p ><small class="text-muted">on Nov 13, 2019</small></p>
                        </div>
                        <img class="card-img-top rounded-0  " src="../img/two.jpg" alt="bootcatch kajalism blog">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. </p>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
                            <button class="btn btn-warning  ">Read more</button>
                        </div>
                    </div>
                    <div class="card   rounded-0 mb-3">
                        <div class="card-header">
                            <h3>About Samsung</h3>
                            <p ><small class="text-muted">on Nov 13, 2019</small></p>
                        </div>
                        <img class="card-img-top rounded-0  " src="../img/samsung.jpg" alt="bootcatch kajalism blog">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. </p>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
                            <button class="btn btn-warning  ">Read more</button>
                        </div>
                    </div>
                    <!-- pagination -->
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <nav aria-label="...">
                              <ul class="pagination  ">
                                <li class="page-item disabled">
                                  <span class="page-link">Previous</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                  <span class="page-link">
                                    2
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- about me -->
                    <div class="card rounded-0   mb-3">
                        <div class="card-header text-center">
                            About me
                        </div>
                        <div class="card-body text-center"> 
                            <img class="img-fluid rounded-circle d-flex ml-auto mr-auto mb-2" width="40%" src="../img/25.jpg" alt="bootcatch kajalism blog">
                            <p>Hi, I am Seni <3, I am a software engineer. I'm very passionate about tech and it's trends.</p>
                            <button class="btn btn-warning btn-sm ">Follow me</button>
                        </div>
                    </div>
                    <!-- popular post's -->
                    <div class="card popular-posts rounded-0   mb-3">
                        <div class="card-header">
                            Popular Posts
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <img  class="img-fluid" src="../img/fif.JPG" alt="bootcatch kajalism blog">
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <h6>Indoor Fifa 20 competition.</h6>
                                        <small class="text-muted">May 16, 2020</small>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <img class="img-fluid" src="../img/digi.jpg" alt="bootcatch kajalism blog">
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <h6>Digital world.</h6>
                                        <small class="text-muted">May 16, 2020</small>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <img class="img-fluid" src="../img/samsung.jpg" alt="bootcatch kajalism blog">
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <h6>About Samsung.</h6>
                                        <small class="text-muted">May 16, 2020</small>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <img class="img-fluid" src="../img/firm.jpg" alt="bootcatch kajalism blog">
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <h6>Iphone Firmware.</h6>
                                        <small class="text-muted">March 27, 2019</small>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <img class="img-fluid" src="../img/Repair.jpg" alt="bootcatch kajalism blog">
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <h6>Phone Repair.</h6>
                                        <small class="text-muted">March 27, 2019</small>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <img class="img-fluid" src="../img/11w.jpg" alt="bootcatch kajalism blog">
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <h6>About the new Iphone.</h6>
                                        <small class="text-muted">March 27, 2019</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- categories -->
                     
                    <!-- tags -->
                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/seni25tech?ref_src=twsrc%5Etfw">Tweets by seni25tech</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <!-- gallery -->
        <div class="gallery mb-3  ">
            <div class="container-fluid">
                <div class="row">
                    <div class="card w-100 rounded-0">
                        <div class="card-header">
                            Gallery
                        </div>
                        <div class="card-body">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="../img/event.JPG" alt="bootcatch kajalism blog">
                                            </div> 
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="../img/musti.JPG" alt="bootcatch kajalism blog">
                                            </div> 
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta3.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta4.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta5.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta6.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta7.jpg" alt="bootcatch kajalism blog">  
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta8.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta3.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta4.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta5.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta6.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta3.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta4.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta5.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta1.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta2.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                             <div class="col-md-2">
                                                <img class="img-fluid" src="../img/insta6.jpg" alt="bootcatch kajalism blog">
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="mb-3">25Tech</h3>
                        <p class="text-dark"> Look around you now you will realise the world has become more sophisticated, the use of technology is now the order of the day and this is just the beginning,
                        </p> 
                        <hr>
                        <h5>Contact Info</h5>
                        <span class="text-dark">
                            www. <br>
                            <br>
                            
                        </span>
                    </div>
                   
                    <div class="col-md-4">
                        <h3 class="mb-3">NEWSLETTER</h3>
                        <form>
                          <div class="form-group">
                            <input type="email" class="form-control rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ur email">
                            <small id="emailHelp" class="form-text text-muted">Stay updated with our Newsletters.</small>
                          </div>
                          <button type="submit" class="btn btn-warning rounded-0  ">Subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-wrapper bg-light-blue-gradient">
            <div class="container">
                <p class="text-primary">Made by 25Tech Team — Copyright © 2019 - 2020. All Rights Reserved.</p>
            </div>
        </div>
        <!-- end main content -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
